.container1 {
  margin-top: 10px;
  position: relative;
  text-align: center;
  color: white;
}

.container {
  background-color:  rgba(163, 255, 106, 0.249);
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p1 {
  margin-left: 50px;
}
.col-sm-4 {
  color: lightblue;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 48.33%;
  padding: 20px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column1 {
/*  float: left;*/
  width: 20.33%;
/*  padding: 10px;*/
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.img1 {
  position: relative;
  float: left;
/*  margin-left: 3px;*/
}
.bussines {
  text-align: center;
}
.column2 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
#profile {
  border: 5px solid rgb(255, 255, 255);
  background-color: #c7c7c73c;
}
#quote_img {
  float: right;
  margin-right: 50px;
  width: 50px;
}
